<div class="banner js-banner">
    <p>
        Friendly reminder that we include FREE shipping and returns on all orders!
        {% include 'inline-icon' with svg: 'remove.svg', alt:'Remove' %}
    </p>
</div>